.container{
    justify-content: space-between;
    padding: 1% 5% ;
    background-color: #F9E8E8;
    height: 10vh;
    align-items: center;
    display: flex;
}

.button-group{
    display: flex;
    justify-content: space-between;
    gap: 2.5vh;
}